################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConversaoECasting/obj
/EntradaDeDados/bin/Debug/net6.0
/EntradaDeDados/obj
/OperadoresAritimeticos/bin/Debug/net6.0
/OperadoresAritimeticos/obj
/ConversaoECasting/bin/Debug/net6.0
/.vs/IntroducaoCSharp/FileContentIndex
/.vs/ProjectEvaluation
